/* Colors

red    red
green  #33cc33
blue   #1a75ff
violet #9933ff;
brown  #663300
yellow #ffff33
orange #ff9900
black  black
    
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    touch-action: manipulation;
}

body {
    background-color: wheat;
}

.tg th {
    height: 46px;
    width: 46px;
    padding: 3px 3px;
}

.tg td {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 3px 3px;
    overflow: hidden;
    cursor: pointer;
}

.tn td {
    text-align: left;
    font-size: 14px;
    font-family: Arial, sans-serif;
    height: 36px;
    width: 36px;
    padding: 3px 1px;
}

.tn .sum {
    text-align: center;
}

.drum-ball {
    position: absolute;
    display: none;
    border-radius: 100%;
    height: 150px;
    width: 150px;
    margin: 0;
}

.inner-circle {
    position: relative;
    border-radius: 100%;
    border: 1px solid white;
    top: 15px;
    left: 15px;
    height: 120px;
    width: 120px;
}

.random-number {
    margin: 20px auto;
    position: relative;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    background-color: whitesmoke;
}

.ball-number {
    font-family: 'Rubik', sans-serif;
    position: relative;
    margin: auto;
    display: table;
    font-size: 3.5rem;
}


.lucky-numbers {
    text-align: start;
    background-color: whitesmoke;
    min-width: 20rem;
    font-family: 'Courier New', Courier, monospace;
}

.number-box {
   
    position: relative;
    height: 350px;
    width: 400px;
}

.number-box img {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
}

.columns {
    position: relative;
    width: 100%;
    height: 40px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    border-bottom: 1px solid;
}

.drawn-numbers-box {
    display: none;
    position: absolute;
}

.ring {
    font-size: 1em;
    border: 1px solid gray;
    border-radius: 50%;
    height: 33px;
    width: 33px;
    padding: 5px 0;
    text-align: center;
}


.balls-colors {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.circle {
    border: 1px solid gray;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 9px 0;
}


/* .square {
    text-align: center;
    padding: 5px 0;
} */

.red {
    background-color: red;
}

.green {
    background-color: #33cc33;
}

.blue {
    background-color: #1a75ff;
}

.violet {
    background-color: #9933ff;
}

.brown {
    background-color: #663300;
}

.yellow {
    background-color: #ffff33;
}

.orange {
    background-color: #ff9900;
}

.black {
    background-color: black;
}


@keyframes scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes scaleOut {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
        opacity: 0;
    }
}

@keyframes heartBeat {
    0% {
        transform: scale(1);
    }
    14% {
        transform: scale(1.3);
    }
    28% {
        transform: scale(1);
    }
    42% {
        transform: scale(1.3);
    }
    70% {
        transform: scale(1);
    }
}


@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 200px, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    30% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 130px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

@keyframes bounceOut {
    20% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    50%, 55% {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
}