/* Colors

red    red
green  #33cc33
blue   #1a75ff
violet #9933ff;
brown  #663300
yellow #ffff33
orange #ff9900
black  black
    
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: wheat;
}

/* .tg .tn {
    border-collapse: collapse;
    border-spacing: 1;
} */



.tg th {
    height: 46px;
    width: 46px;
    padding: 3px 3px;
}

.tg td {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 3px 3px;
    overflow: hidden;
    cursor: pointer;
}

/* .tn th {
    height: 40px;
    width: 40px;
    text-align: center;
    border-bottom: 1px solid;
} */

.tn td{
    text-align: center;
    font-size: 14px;
    padding: 3px 0;
    font-family: Arial, sans-serif;
    height: 46px;
    width: 46px;
}

.tn .sum {
    text-align: left;
}

.drum-ball {
    
    position: absolute;
    display: none;
    border-radius: 100%;
    height: 180px;
    width: 180px;
    margin: 0;
    transition: all 1s;
    
}

.inner-circle {
    position: relative;
    border-radius: 100%;
    border: 1px solid white;
    top: 15px;
    left: 15px;
    height: 150px;
    width: 150px;
}

.random-number {
    margin: 30px auto;
    position: relative;
    border-radius: 100%;
    height: 90px;
    width: 90px;
    background-color: whitesmoke;
}

.ball-number {
    font-family: 'Rubik', sans-serif;
    position: relative;
    margin: auto;
    display: table;
    font-size: 4rem;
   
}

@keyframes scale {

   /*  0% {
        transform: scale(0);
    } */

    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
    
}

@keyframes scaleOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.lucky-numbers {
    
    background-color: whitesmoke;
    width: 50%;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
   
}

.number-box {
   
    position: relative;
    height: 350px;
    width: 400px;
   
}

.number-box img {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
   
}


.columns {
    position: relative;
    width: 90%;
    height: 40px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    border-bottom: 1px solid;
   
   
}

.random-numbers-box {
    display: none;
}

.balls-colors {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.circle {
    border: 1px solid gray;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 9px 0;
}

.square {
    text-align: center;
    padding: 5px 0;
}


.red {
    background-color: red;
}

.green {
    background-color: #33cc33;
}

.blue {
    background-color: #1a75ff;
}

.violet {
    background-color: #9933ff;
}

.brown {
    background-color: #663300;
}

.yellow {
    background-color: #ffff33;
}

.orange {
    background-color: #ff9900;
}

.black {
    background-color: black;
}



    @keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 1;
    -webkit-transform: scale3d(.1, .1, .1);
    transform: scale3d(.1, .1, .1);
    }
    20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
    }
    100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 


    @keyframes bounceOut {
        20% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
        }
        50%, 55% {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
        }
        100% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        }
        } 
      ×